.card {
  width: 325px;
  height: 328px;
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: center;
}

.card__title {
  position: absolute;
  top: 15px;
}

.card__image {
  width: 100%;
  object-fit: cover;
}
